{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock %}


{% block content %}

<div class="col-md-6 offset-md-3">
    <br>
    <br>


    <img src="static/contact1.jpg" alt="contact">
    



    <div class="container">
    

    <br>
    <section>   
        <h1>Contact Us</h1>

        <p>Ready to learn more about our services or schedule a tour? Contact us today to speak with a member of our team or to arrange a visit to our facility. We look forward to welcoming you to the iHome Care Facility family.
        </p>
    </section>
    </div>

    
</div>
    <br><br>
{% endblock %}