{% extends 'base.html' %}

{% block title %}
    Services
{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <br>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/care1.jpg" class="d-block w-100" alt="care1.jpg">
          </div>
          <div class="carousel-item">
            <img src="static/care2.jpg" class="d-block w-100" alt="care2.jpg">
          </div>
          <div class="carousel-item">
            <img src="static/care3.jpg" class="d-block w-100" alt=".care3.jpg">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    <br><br>
    <div class="container">
    <section class='home' id="welcome">
        <h1>Services</h1>
        <br>
        <ul>
            <li>
               <strong> Residential Care:</strong> Our modern and comfortable facilities offer round-the-clock care for seniors who require assistance with daily activities or specialized medical support.
            </li>
            <br>
            <li>
                <strong>Dementia Care:</strong> We understand the unique challenges faced by individuals living with dementia. Our dedicated dementia care program provides tailored support to enhance quality of life and promote independence.
            </li>
            <br>
            <li>
                <strong>Respite Care:</strong> Family caregivers need rest and support too. Our respite care services offer temporary relief, allowing caregivers to take a break while ensuring their loved ones receive high-quality care in a safe and welcoming environment.
            </li>
            <br>
            <li>
                <strong>Palliative Care:</strong> Compassionate end-of-life care is provided by our skilled team, focusing on pain management, comfort, and dignity for residents and their families during this sensitive time.

            </li>
        </ul>
        </table>
    
        <br>
        <br>
        <h1>Why Choose Us</h1>
        <br>
        <ul>
            <li>
                <strong>Experienced and Compassionate Staff:</strong> Our team of skilled professionals is passionate about making a difference in the lives of seniors. With extensive training and a genuine commitment to care, we ensure that residents receive the attention and support they deserve.
            </li>
            <br>

            <li>
                <strong>Safe and Comfortable Environment:</strong>  iHome Care is designed to feel like home. From cozy living spaces to beautiful gardens, we prioritize the safety, comfort, and well-being of our residents.
            </li>
            <br>
            <li>
                <strong>Community and Engagement:</strong> We believe in the importance of social connection and meaningful activities. Our diverse range of programs and events encourage residents to stay active, engaged, and connected with others.
            </li>
            <br>

            <li>
                <strong>Family-Centered Care:</strong> We understand that family plays a vital role in the care journey. We welcome families as partners, providing support, guidance, and regular communication to ensure peace of mind for everyone involved.
            </li>
        </ul>
    </section>

    <br>
    

    
</div>
    
{% endblock %}